.settings-container
  h3 Изменить глобальные настройки
  mat-card
    .settings-add-form([formGroup]="form", [appConnectForm]="globalSettings")

      mat-form-field
        textarea(matInput,
          placeholder="Главная страница, первый блок",
          formControlName="title")

      mat-form-field
        textarea(matInput,
          placeholder="Главная страница, второй блок",
          formControlName="title_second")

      mat-form-field
        input(matInput,
          placeholder="Название первого блока земли",
          formControlName="type_id_0")

      mat-form-field
        input(matInput,
          placeholder="Название второго блока земли",
          formControlName="type_id_1")

      mat-form-field
        input(matInput,
          placeholder="Название третьего блока земли",
          formControlName="type_id_2")

      .color-picker-container
        p Цвет блоков земли
        .color-span([colorPicker]="color", (colorPickerChange)="serColor($event)", [style.background]="color")

      mat-form-field
        ngx-mat-file-input(formControlName="global_image", placeholder="Картинка на главный фон сайта")
        mat-icon(matSuffix) folder

      button([disabled]="form.invalid", mat-raised-button, color="primary", (click)="confirm()") Сохранить

